In [49]:
import json
import mysql.connector
from datetime import datetime

# Load data from JSON file
with open('C:\\Users\\hp\\Downloads\\Sales_data.json', 'r') as file:
    sales_data = json.load(file)

# Connect to MySQL
con = mysql.connector.connect(
    host='localhost',
    user='root',
    password='Santhu1@',
    database='sales_db'
)
cursor = con.cursor()
er_id = sale['Order ID']
    time
# Insert data into the table
for sale in sales_data:
    ordstamp = datetime.strptime(sale['Timestamp'], '%m/%d/%Y')
    product = sale['Product']
    quantity = sale['Quantity']
    price = sale['Price']
    region = sale['Customer Region']
    payment_method = sale['Payment Mathod']

    query = """
    INSERT INTO sales (order_id, timestamp, product, quantity, price, customer_region, payment_method)
    VALUES (%s, %s, %s, %s, %s, %s, %s)
    ON DUPLICATE KEY UPDATE
        timestamp=VALUES(timestamp),
        product=VALUES(product),
        quantity=VALUES(quantity),
        price=VALUES(price),
        customer_region=VALUES(customer_region),
        payment_method=VALUES(payment_method)
    """
    values = (order_id, timestamp, product, quantity, price, region, payment_method)
    cursor.execute(query, values)

# Commit and close
con.commit()
cursor.close()
con.close()

print("✅ Data loaded into MySQL successfully.")

✅ Data loaded into MySQL successfully.